@import url('bootstrap.css');
@import url('fonts.css');

General Stuff
.fs12 {
  font-size: 12px;
}
.fs13 {
  font-size: 13px;
}
.fs14 {
  font-size: 14px;
}
.fs30 {
  font-size: 30px;
}
.large-red-btn
/* contact page */

/* Portfolio page */
